<% extend('../layout') %>
<div class="container">
    <form method="POST">
        <% if(data){ %>
            <div class="form-group">
                <input type="text" class="form-control" id="id" aria-describedby="idHelp" placeholder="Enter id"  name="id" value=<%=data.id%> hidden>
            </div>
            <div class="form-group">
                <label for="event_id">Event Id</label>
                <input type="text" class="form-control" id="event_id" name="event_id" value= <%=data.event_id%>>
            </div>
            <div class="form-group">
                <label for="template_name">Template Name</label>
                <input type="text" class="form-control" id="template_name" name="template_name" value= <%=data.template_name%>>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        <% }else{ %>
            <h5>No Event Template To Edit</h5>
        <% } %>
    </form>
</div>