<% extend('../layout') %>
<div class="container">
    <form method="POST">
        <div class="form-group">
            <label for="event_template_id">Event Template Id</label>
            <input type="text" class="form-control" id="event_template_id" name="event_template_id">
        </div>
        <div class="form-group">
            <label for="event_device_id">Event Device Id</label>
            <input type="text" class="form-control" id="event_device_id" name="event_device_id">
        </div>
        <div class="form-group">
            <label for="event_template_device_name">Event Template Device Name</label>
            <input type="text" class="form-control" id="event_template_device_name" name="event_template_device_name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>