<% extend('../layout') %>
<div class="container">
    <form method="POST">
        <div class="form-group">
            <label for="event_id">Event Id</label>
            <input type="text" class="form-control" id="event_id" name="event_id">
        </div>
        <div class="form-group">
            <label for="device_id">Device Id</label>
            <input type="text" class="form-control" id="device_id" name="device_id">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>